<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Sistema</div>
        <a class="nav-link" routerLink="/home">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Home
        </a>
        <div class="sb-sidenav-menu-heading">Cadastros</div>
        <a class="nav-link collapsed" routerLink="/clientes" data-toggle="collapse" data-target="#collapseClientes"
          aria-expanded="false" aria-controls="collapseClientes">
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          Clientes
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>

        </a>
        <div class="collapse" id="collapseClientes" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" routerLink="/clientes">Consulta</a>
            <a class="nav-link" routerLink="/clientes/form">Cadastro</a>
          </nav>
        </div>
        <a class="nav-link collapsed" routerLink="/servicos-prestado" data-toggle="collapse"
          data-target="#collapseServico" aria-expanded="false" aria-controls="collapseServico">
          <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
          Serviços Prestados
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseServico" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" routerLink="/servicos-prestado/lista">Consulta</a>
            <a class="nav-link" routerLink="/servicos-prestado/form">Cadastro</a>
          </nav>
        </div>
        <div class="sb-sidenav-menu-heading">Logout</div>
        <a class="nav-link" (click)="logout()" aria-expanded="false" href="#">
          <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
          Sair
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Usuario Logado</div>
      {{usuarioLogado}}
    </div>
  </nav>
</div>